{% extends 'main/base.html' %}
{% load static %}
{% block title %}الفيديوهات التعليمية{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'educational_videos/css/style.css' %}">
{% endblock %}

{% block content %}
<main class="vid-main">

  <!-- HERO -->
  <section class="vid-hero">
    <div class="vid-hero-text">
      <div class="vid-badge">▶ فيديوهات تعليمية</div>
      <h1>تعلّم بطريقة<br><span>ممتعة وسهلة</span></h1>
      <p>فيديوهات مختارة بعناية لدعم تطور طفلك في التواصل واللغة والمهارات الحياتية</p>
    </div>
    <div class="vid-hero-img">
      <div class="vid-hero-circle">
        <span class="vid-play-big">▶</span>
      </div>
    </div>
  </section>

  <!-- FILTERS + SEARCH -->
  <div class="vid-topbar">
    <div class="vid-filters">

    <a href="?category=all" class="vid-btn {% if request.GET.category == 'all' or not request.GET.category %}active{% endif %}">الكل</a>
    <a href="?category=visual" class="vid-btn {% if request.GET.category == 'visual' %}active{% endif %}"> بصري</a>
    <a href="?category=sensory" class="vid-btn {% if request.GET.category == 'sensory'  %}active{% endif %}"> حسي</a>
    <a href="?category=motor" class="vid-btn {% if request.GET.category == 'motor'  %}active{% endif %}"> حركي</a>
    <a href="?category=language" class="vid-btn {% if request.GET.category == 'language'  %}active{% endif %}"> لغوي </a>

</div>
    <form method="GET" class="vid-search">

    <span class="vid-search-icon">🔍</span>

    <input
        type="text"
        name="search"
        placeholder="ابحث عن فيديو..."
        value="{{ request.GET.search }}"
    >

</form>
  </div>

  <!-- VIDEOS GRID -->
  <section class="vid-grid" id="videosGrid">
    {% if videos %}

    {% for video in videos %}

<div class="vid-card" data-cat="{{ video.category }}">

    <div class="vid-thumb">

        {% if video.thumbnail %}
            <img src="{{ video.thumbnail.url }}" alt="{{ video.title }}">
        {% endif %}

        <div class="vid-overlay">
            <div class="vid-play">▶</div>
        </div>

        <div class="vid-cat-tag">
            {{ video.get_category_display }}
        </div>

    </div>

    <div class="vid-body">

        <h3>{{ video.title }}</h3>

        <p>
            {{ video.description }}
        </p>

        <div class="vid-footer">

            <span class="vid-level">
                ⭐ {{ video.age_min }} - {{ video.age_max }} سنوات
            </span>

            <a href="{% url 'edu_video:video_details' video.id %}">
    <button class="vid-watch-btn">
        مشاهدة ←
    </button>
</a>

        </div>

    </div>

</div>

{% endfor %}
  </section>
{% else %}

<div class="vid-empty">

    <div class="vid-empty-icon">
        📹
    </div>

    <h3>
        لا توجد فيديوهات متاحة
    </h3>

    <p>
        لم يتم العثور على فيديوهات مطابقة للتصنيف أو نتائج البحث الحالية.
    </p>

</div>

{% endif %}
 

</main>


{% endblock %}