{% extends 'main/base.html' %}
{% load static %}

{% block title %}
إنشاء نقاش
{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'community/css/style.css' %}"> {% endblock %}


{% block content %}

<div class="create-page">

    <h1 class="page-title">
        إنشاء نقاش جديد
    </h1>

    <p class="page-subtitle">
        شارك تجربتك أو اطرح سؤالًا على المجتمع
    </p>

    <div class="create-card">

        <form method="POST">

        {% csrf_token %}

            <!-- TITLE -->

            <div class="form-group">

                <label class="form-label">
                    عنوان النقاش
                </label>

                <input type="text" class="form-input-community" placeholder="اكتب عنوانًا واضحًا..." name="title" required minlength="5" maxlength="100">
                <small class="tags-note">
                 اجعل العنوان واضحًا ومختصرًا
                </small>
            </div>

            <!-- CATEGORY -->

            <div class="form-group">

                <label class="form-label">
                    التصنيف
                </label>

                <select class="form-select" name="category" required>

                    {% for value, label in form.category.field.choices %}

                        {% if value %}

                            <option value="{{ value }}">
                                {{ label }}
                            </option>

                        {% endif %}

                    {% endfor %}
                </select>

            </div>

            <!-- CONTENT -->

            <div class="form-group">

                <label class="form-label">
                    محتوى النقاش
                </label>

                <textarea class="form-textarea" placeholder="اكتب تفاصيل النقاش هنا..." name="content" required minlength="10" maxlength="2000"></textarea>
                <small class="tags-note">
                  تجنب مشاركة المعلومات الشخصية
                </small>
            </div>
            <div class="form-group">

                <label class="form-label">
                    الوسوم
                </label>

                <input type="text" class="form-input-community" name="tags" placeholder="مثال: #النطق #التوحد #التواصل" required maxlength="50">

                <small class="tags-note">
                   افصل الوسوم ب(,)
                </small>

            </div>



            <!-- ACTIONS -->

            <div class="actions">

                <a type="button" class="cancel-btn" href="javascript:history.back()">
                    إلغاء
                </a>

                <button
                    type="submit"
                    class="publish-btn"
                >
                    نشر النقاش
                </button>

            </div>

        </form>

    </div>

</div>

{% endblock %}