{%extends 'main/base.html'%}
{%load static%}
{% block title %}  الخطة اليومية{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'plans/css/style.css' %}"> {% endblock %}


{% block content %}


  <div class="page">

    <!-- Main Content -->
    <div class="content">

      <!-- Header -->
      <div class="header">

        <div class="title-section">
          <h1>الأنشطة</h1>
          <p>أنشطة يومية تساعد طفلك على التطور والنمو</p>
        </div>

        <div class="plan-duration">
          <div>
            <h3>مدة الخطة</h3>
            <p>من 10 مايو إلى 16 مايو</p>
          </div>
          <i class="bi bi-calendar-event"></i>
        </div>
      </div>

      <!-- Info Cards -->
      <!-- AI Summary -->

<div class="ai-summary-box">

  <div class="ai-summary-left">

    <span class="ai-tag">
      AI Generated Plan
    </span>

    <h2>
      تم إنشاء أنشطة مخصصة لطفلك
    </h2>

    <p>
      تم اختيار هذه الأنشطة بناءً على تحليل الفيديو
      ونتائج التقييم الخاصة بالطفل.
    </p>

  </div>

  <div class="ai-summary-icon">
    <i class="bi bi-stars"></i>
  </div>

</div>

<!-- Main Activity Cards -->

<div class="main-activity-cards">

  <!-- Current Activity -->

  <div class="main-activity-card active-now">

    <div class="activity-top">

      <div>

        <span>
          النشاط الحالي
        </span>

        <h3>
          نشاط حسي
        </h3>

      </div>

      <div class="activity-icon purple-bg">

      </div>

    </div>

    <p>
      يساعد هذا النشاط على تحسين التركيز والاستجابة الحسية لدى الطفل.
    </p>

    <div class="activity-footer">

      <div class="activity-time">
        <i class="bi bi-clock"></i>
        10 دقائق
      </div>

      <a href="#" class="start-btn">
        ابدأ النشاط
      </a>

    </div>

  </div>

  <!-- Recommended -->

  <div class="main-activity-card">

    <div class="activity-top">

      <div>

        <span>
          النشاط التالي
        </span>

        <h3>
          نشاط بصري
        </h3>

      </div>

      <div class="activity-icon yellow-bg">

      </div>

    </div>

    <p>
      تمارين بصرية تساعد الطفل على التتبع والانتباه البصري.
    </p>

    <div class="activity-footer">

      <div class="activity-time">
        <i class="bi bi-alarm"></i>
        15 دقيقة
      </div>

      <a href="#" class="start-btn secondary">
        عرض النشاط
      </a>

    </div>

  </div>

</div>


      <!-- Tip -->
      <div class="tip-box">

        <div class="tip-text">
          <h3>نصيحة اليوم</h3>
          <p>
            التفاعل والخلق بيئة هادئة يساعد على زيادة تركيز الطفل واستجابته للنشاط.
          </p>
        </div>

        <div class="tip-icon">
         <i class="bi bi-lightbulb"></i>
        </div>

      </div>

    </div>

    <aside class="sidebar-plan">

      <a class="back-btn" href="{%url 'plans:main_plan_view'%}">
        <i class="fa-solid fa-arrow-right"></i>
        العودة للخطة
      </a>

      <h2 class="sidebar-title">أقسام الخطة</h2>

      <div class="steps">

        <div class="step active">
          <div>
            <h3>الأنشطة المقترحة</h3>
            <p>أنشطة يومية تساعد على تطور طفلك</p>
          </div>
          <span>1</span>
        </div>

        <div class="step">
          <a href="{%url 'plans:video_plan_view'%}" class="step-btn">
            <h3>فيديوهات تعليمية</h3>
            <p>فيديوهات توضيحية وتدريبية</p>
          </a>
          <span>2</span>
        </div>

        <div class="step">
          <div>
            <h3>استراتيجيات الدعم</h3>
            <p>طرق ونصائح لدعم طفلك</p>
          </div>
          <span>3</span>
        </div>

        

      </div>

      <div class="progress-box">
        <h3>تقدم الطفل</h3>
        <p>المرحلة الحالية</p>

        <h4>1 من 3</h4>

        <div class="circle">
          <span>25%</span>
        </div>

        <div class="success">

          <p>أنت على الطريق الصحيح!</p>
        </div>
      </div>

    </aside>

  </div>

{% endblock %}